USE [master]
GO
/****** Object:  Database [SehirDetay]    Script Date: 10.04.2016 13:01:18 ******/
CREATE DATABASE [SehirDetay]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KoseBucakTR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\KoseBucakTR.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'KoseBucakTR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\KoseBucakTR_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SehirDetay].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SehirDetay]
GO
/****** Object:  Table [dbo].[Ayar]    Script Date: 10.04.2016 13:01:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ayar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Anahtar] [nvarchar](50) NOT NULL,
	[Deger] [ntext] NOT NULL,
	[Aciklama] [ntext] NULL,
 CONSTRAINT [PK_Ayar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Icerik]    Script Date: 10.04.2016 13:01:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Icerik](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](255) NOT NULL,
	[Detay] [ntext] NOT NULL,
	[KategoriId] [int] NOT NULL,
	[KullaniciId] [int] NOT NULL,
	[OlusturulmaTarihi] [smalldatetime] NOT NULL CONSTRAINT [DF_Icerik_OlusturulmaTarihi]  DEFAULT (getdate()),
	[GuncellenmeTarihi] [smalldatetime] NOT NULL CONSTRAINT [DF_Icerik_GuncellenmeTarihi]  DEFAULT (getdate()),
	[AnahtarKelimeler] [nvarchar](255) NOT NULL,
	[Aktif] [bit] NOT NULL CONSTRAINT [DF_Icerik_Aktif]  DEFAULT ((1)),
	[Konum] [geography] NULL,
	[SehirId] [int] NOT NULL,
	[IlceId] [int] NOT NULL,
 CONSTRAINT [PK_Icerik] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IcerikMedya]    Script Date: 10.04.2016 13:01:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IcerikMedya](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IcerikId] [bigint] NOT NULL,
	[MedyaId] [bigint] NOT NULL,
 CONSTRAINT [PK_IcerikMedya] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ilce]    Script Date: 10.04.2016 13:01:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ilce](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IlceAd] [nvarchar](50) NOT NULL,
	[SehirId] [int] NOT NULL,
	[Konum] [geography] NULL,
 CONSTRAINT [PK_Ilce] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kategori]    Script Date: 10.04.2016 13:01:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategori](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAd] [nvarchar](100) NOT NULL,
	[UstKategoriId] [int] NOT NULL,
	[Lft] [int] NOT NULL,
	[Rgt] [int] NOT NULL,
	[Aktif] [bit] NOT NULL CONSTRAINT [DF_Kategori_Aktif]  DEFAULT ((1)),
 CONSTRAINT [PK_Kategori] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kullanici]    Script Date: 10.04.2016 13:01:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanici](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Eposta] [nvarchar](100) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[Cinsiyet] [bit] NULL,
	[DogumTarihi] [date] NULL,
	[CepTelefonu] [bigint] NULL,
	[Sifre] [nvarchar](50) NOT NULL,
	[SehirId] [int] NULL,
	[IlceId] [int] NULL,
	[Aktif] [bit] NOT NULL CONSTRAINT [DF_Kullanici_Aktif]  DEFAULT ((0)),
	[AktivasyonKodu] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Kullanici] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KullaniciRol]    Script Date: 10.04.2016 13:01:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KullaniciRol](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciId] [int] NOT NULL,
	[RolId] [int] NOT NULL,
 CONSTRAINT [PK_KullaniciRol] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Medya]    Script Date: 10.04.2016 13:01:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medya](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](255) NOT NULL,
	[MedyaTipi] [int] NOT NULL,
	[MedyaUrl] [nvarchar](255) NOT NULL,
	[EklemeTarihi] [smalldatetime] NOT NULL CONSTRAINT [DF_Medya_YorumTarihi]  DEFAULT (getdate()),
 CONSTRAINT [PK_Medya] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rol]    Script Date: 10.04.2016 13:01:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RolAd] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sehir]    Script Date: 10.04.2016 13:01:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sehir](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SehirAd] [nvarchar](50) NOT NULL,
	[Plaka] [nvarchar](2) NOT NULL,
	[Konum] [geography] NULL,
 CONSTRAINT [PK_Sehir] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ulasim]    Script Date: 10.04.2016 13:01:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ulasim](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UlasimTurId] [int] NOT NULL,
	[IcerikId] [bigint] NOT NULL,
	[Tarif] [nvarchar](1000) NOT NULL,
	[Puan] [int] NOT NULL,
	[OlusturulmaTarihi] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_Ulasim] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UlasimTur]    Script Date: 10.04.2016 13:01:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UlasimTur](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UlasimTuru] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UlasimTur] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Yorum]    Script Date: 10.04.2016 13:01:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yorum](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IcerikId] [bigint] NOT NULL,
	[KullaniciId] [int] NOT NULL,
	[YorumMetni] [nvarchar](300) NULL,
	[Puan] [int] NOT NULL,
	[Konum] [geography] NULL,
	[OlusturulmaTarihi] [smalldatetime] NOT NULL,
	[GuncellenmeTarihi] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_Yorum] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Icerik] ON 

GO
INSERT [dbo].[Icerik] ([Id], [Baslik], [Detay], [KategoriId], [KullaniciId], [OlusturulmaTarihi], [GuncellenmeTarihi], [AnahtarKelimeler], [Aktif], [Konum], [SehirId], [IlceId]) VALUES (1, N'Topkapı Sarayı', N'Sultan ... tarafından', 4, 1, CAST(N'1900-01-01 00:00:00' AS SmallDateTime), CAST(N'1900-01-01 00:00:00' AS SmallDateTime), N'topkapı, saray', 1, NULL, 1, 4)
GO
INSERT [dbo].[Icerik] ([Id], [Baslik], [Detay], [KategoriId], [KullaniciId], [OlusturulmaTarihi], [GuncellenmeTarihi], [AnahtarKelimeler], [Aktif], [Konum], [SehirId], [IlceId]) VALUES (2, N'Topkapı Sarayı', N'Sultan ... tarafından', 4, 1, CAST(N'1900-01-01 00:00:00' AS SmallDateTime), CAST(N'1900-01-01 00:00:00' AS SmallDateTime), N'topkapı, saray', 1, NULL, 34, 225)
GO
INSERT [dbo].[Icerik] ([Id], [Baslik], [Detay], [KategoriId], [KullaniciId], [OlusturulmaTarihi], [GuncellenmeTarihi], [AnahtarKelimeler], [Aktif], [Konum], [SehirId], [IlceId]) VALUES (3, N'Topkapı Sarayı', N'Sultan ... tarafından', 4, 1, CAST(N'1900-01-01 00:00:00' AS SmallDateTime), CAST(N'1900-01-01 00:00:00' AS SmallDateTime), N'topkapı, saray', 1, NULL, 34, 225)
GO
SET IDENTITY_INSERT [dbo].[Icerik] OFF
GO
SET IDENTITY_INSERT [dbo].[IcerikMedya] ON 

GO
INSERT [dbo].[IcerikMedya] ([Id], [IcerikId], [MedyaId]) VALUES (1, 3, 1)
GO
INSERT [dbo].[IcerikMedya] ([Id], [IcerikId], [MedyaId]) VALUES (2, 4, 2)
GO
SET IDENTITY_INSERT [dbo].[IcerikMedya] OFF
GO
SET IDENTITY_INSERT [dbo].[Ilce] ON 

GO
INSERT [dbo].[Ilce] ([Id], [IlceAd], [SehirId], [Konum]) VALUES (1, N'Abana', 37, 0xE6100000010C228E75711BFD44409A99999999014140)
GO
INSERT [dbo].[Ilce] ([Id], [IlceAd], [SehirId], [Konum]) VALUES (2, N'Acıpayam', 20, 0xE6100000010C910F7A36ABB64240B5A679C7295A3D40)
GO
INSERT [dbo].[Ilce] ([Id], [IlceAd], [SehirId], [Konum]) VALUES (3, N'Adalar', 34, 0xE6100000010C944A7842AF6D444030116F9D7F1F3D40)
GO
SET IDENTITY_INSERT [dbo].[Ilce] OFF
GO
SET IDENTITY_INSERT [dbo].[Kategori] ON 

GO
INSERT [dbo].[Kategori] ([Id], [KategoriAd], [UstKategoriId], [Lft], [Rgt], [Aktif]) VALUES (1, N'Ana Kategori', 0, 1, 8, 1)
GO
INSERT [dbo].[Kategori] ([Id], [KategoriAd], [UstKategoriId], [Lft], [Rgt], [Aktif]) VALUES (2, N'Tarihi Eserler', 1, 2, 5, 1)
GO
INSERT [dbo].[Kategori] ([Id], [KategoriAd], [UstKategoriId], [Lft], [Rgt], [Aktif]) VALUES (3, N'Turizm', 1, 6, 7, 1)
GO
SET IDENTITY_INSERT [dbo].[Kategori] OFF
GO
SET IDENTITY_INSERT [dbo].[Kullanici] ON 

GO
INSERT [dbo].[Kullanici] ([Id], [Eposta], [Ad], [Soyad], [Cinsiyet], [DogumTarihi], [CepTelefonu], [Sifre], [SehirId], [IlceId], [Aktif], [AktivasyonKodu]) VALUES (1, N'test@test.com', N'Ali', N'Koç', 1, CAST(N'1977-01-01' AS Date), 555555, N'40BD001563085FC35165329EA1FF5C5ECBDBBEEF', 10, 717, 1, N'0')
GO
INSERT [dbo].[Kullanici] ([Id], [Eposta], [Ad], [Soyad], [Cinsiyet], [DogumTarihi], [CepTelefonu], [Sifre], [SehirId], [IlceId], [Aktif], [AktivasyonKodu]) VALUES (2, N'aaa@aaa.com', N'Mustafa', N'ÖZCAN', 1, CAST(N'1977-01-01' AS Date), 5053660444, N'40BD001563085FC35165329EA1FF5C5ECBDBBEEF', 34, 601, 0, N'aa7cdba3-f120-4452-9b91-bc63c0f12db1')
GO
SET IDENTITY_INSERT [dbo].[Kullanici] OFF
GO
SET IDENTITY_INSERT [dbo].[KullaniciRol] ON 

GO
INSERT [dbo].[KullaniciRol] ([Id], [KullaniciId], [RolId]) VALUES (1, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[KullaniciRol] OFF
GO
SET IDENTITY_INSERT [dbo].[Medya] ON 

GO
INSERT [dbo].[Medya] ([Id], [Baslik], [MedyaTipi], [MedyaUrl], [EklemeTarihi]) VALUES (1, N'Topkapı Sarayı', 2, N'dolmabahce_gorunumlu_topkapı_sarayı-c6fed292-2ec6-4e0f-a907-5b024072139f.jpg', CAST(N'2016-04-10 11:05:00' AS SmallDateTime))
GO
INSERT [dbo].[Medya] ([Id], [Baslik], [MedyaTipi], [MedyaUrl], [EklemeTarihi]) VALUES (2, N'Topkapı Sarayı', 2, N'dolmabahce_gorunumlu_topkapi_sarayi-f39aee4a-11bc-4770-aa50-716bd3726950.jpg', CAST(N'2016-04-10 11:10:00' AS SmallDateTime))
GO
SET IDENTITY_INSERT [dbo].[Medya] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

GO
INSERT [dbo].[Rol] ([Id], [RolAd]) VALUES (1, N'Sistem Yöneticisi')
GO
INSERT [dbo].[Rol] ([Id], [RolAd]) VALUES (2, N'İçerik Yöneticisi')
GO
INSERT [dbo].[Rol] ([Id], [RolAd]) VALUES (3, N'Kullanıcı')
GO
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
SET IDENTITY_INSERT [dbo].[Sehir] ON 

GO
INSERT [dbo].[Sehir] ([Id], [SehirAd], [Plaka], [Konum]) VALUES (1, N'Adana', N'01', 0xE6100000010CD21C59F9657C4240EE2422FC8BAA4140)
GO
INSERT [dbo].[Sehir] ([Id], [SehirAd], [Plaka], [Konum]) VALUES (2, N'Adıyaman', N'02', 0xE6100000010C9A081B9E5EE142406B9A779CA2234340)
GO
INSERT [dbo].[Sehir] ([Id], [SehirAd], [Plaka], [Konum]) VALUES (3, N'Afyonkarahisar', N'03', 0xE6100000010C8D28ED0DBE60434009F9A067B38A3E40)
GO
SET IDENTITY_INSERT [dbo].[Sehir] OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_Kullanici_Eposta]    Script Date: 10.04.2016 13:01:19 ******/
ALTER TABLE [dbo].[Kullanici] ADD  CONSTRAINT [UK_Kullanici_Eposta] UNIQUE NONCLUSTERED 
(
	[Eposta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ulasim] ADD  CONSTRAINT [DF_Ulasim_Puan]  DEFAULT ((0)) FOR [Puan]
GO
ALTER TABLE [dbo].[Ulasim] ADD  CONSTRAINT [DF_Ulasim_OlusturulmaTarihi]  DEFAULT (getdate()) FOR [OlusturulmaTarihi]
GO
ALTER TABLE [dbo].[Yorum] ADD  CONSTRAINT [DF_Yorum_OlusturulmaTarihi]  DEFAULT (getdate()) FOR [OlusturulmaTarihi]
GO
ALTER TABLE [dbo].[Yorum] ADD  CONSTRAINT [DF_Yorum_GuncellenmeTarihi]  DEFAULT (getdate()) FOR [GuncellenmeTarihi]
GO
ALTER TABLE [dbo].[Icerik]  WITH CHECK ADD  CONSTRAINT [FK_Icerik_Ilce] FOREIGN KEY([IlceId])
REFERENCES [dbo].[Ilce] ([Id])
GO
ALTER TABLE [dbo].[Icerik] CHECK CONSTRAINT [FK_Icerik_Ilce]
GO
ALTER TABLE [dbo].[Icerik]  WITH CHECK ADD  CONSTRAINT [FK_Icerik_Kategori] FOREIGN KEY([KategoriId])
REFERENCES [dbo].[Kategori] ([Id])
GO
ALTER TABLE [dbo].[Icerik] CHECK CONSTRAINT [FK_Icerik_Kategori]
GO
ALTER TABLE [dbo].[Icerik]  WITH CHECK ADD  CONSTRAINT [FK_Icerik_Kullanici] FOREIGN KEY([KullaniciId])
REFERENCES [dbo].[Kullanici] ([Id])
GO
ALTER TABLE [dbo].[Icerik] CHECK CONSTRAINT [FK_Icerik_Kullanici]
GO
ALTER TABLE [dbo].[Icerik]  WITH CHECK ADD  CONSTRAINT [FK_Icerik_Sehir] FOREIGN KEY([SehirId])
REFERENCES [dbo].[Sehir] ([Id])
GO
ALTER TABLE [dbo].[Icerik] CHECK CONSTRAINT [FK_Icerik_Sehir]
GO
ALTER TABLE [dbo].[IcerikMedya]  WITH CHECK ADD  CONSTRAINT [FK_IcerikMedya_Icerik] FOREIGN KEY([IcerikId])
REFERENCES [dbo].[Icerik] ([Id])
GO
ALTER TABLE [dbo].[IcerikMedya] CHECK CONSTRAINT [FK_IcerikMedya_Icerik]
GO
ALTER TABLE [dbo].[IcerikMedya]  WITH CHECK ADD  CONSTRAINT [FK_IcerikMedya_Medya] FOREIGN KEY([MedyaId])
REFERENCES [dbo].[Medya] ([Id])
GO
ALTER TABLE [dbo].[IcerikMedya] CHECK CONSTRAINT [FK_IcerikMedya_Medya]
GO
ALTER TABLE [dbo].[Ilce]  WITH CHECK ADD  CONSTRAINT [FK_Ilce_Sehir] FOREIGN KEY([SehirId])
REFERENCES [dbo].[Sehir] ([Id])
GO
ALTER TABLE [dbo].[Ilce] CHECK CONSTRAINT [FK_Ilce_Sehir]
GO
ALTER TABLE [dbo].[Kullanici]  WITH CHECK ADD  CONSTRAINT [FK_Kullanici_Ilce] FOREIGN KEY([IlceId])
REFERENCES [dbo].[Ilce] ([Id])
GO
ALTER TABLE [dbo].[Kullanici] CHECK CONSTRAINT [FK_Kullanici_Ilce]
GO
ALTER TABLE [dbo].[Kullanici]  WITH CHECK ADD  CONSTRAINT [FK_Kullanici_Sehir] FOREIGN KEY([SehirId])
REFERENCES [dbo].[Sehir] ([Id])
GO
ALTER TABLE [dbo].[Kullanici] CHECK CONSTRAINT [FK_Kullanici_Sehir]
GO
ALTER TABLE [dbo].[KullaniciRol]  WITH CHECK ADD  CONSTRAINT [FK_KullaniciRol_Kullanici] FOREIGN KEY([KullaniciId])
REFERENCES [dbo].[Kullanici] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KullaniciRol] CHECK CONSTRAINT [FK_KullaniciRol_Kullanici]
GO
ALTER TABLE [dbo].[KullaniciRol]  WITH CHECK ADD  CONSTRAINT [FK_KullaniciRol_Rol] FOREIGN KEY([RolId])
REFERENCES [dbo].[Rol] ([Id])
GO
ALTER TABLE [dbo].[KullaniciRol] CHECK CONSTRAINT [FK_KullaniciRol_Rol]
GO
ALTER TABLE [dbo].[Ulasim]  WITH CHECK ADD  CONSTRAINT [FK_Ulasim_Icerik] FOREIGN KEY([IcerikId])
REFERENCES [dbo].[Icerik] ([Id])
GO
ALTER TABLE [dbo].[Ulasim] CHECK CONSTRAINT [FK_Ulasim_Icerik]
GO
ALTER TABLE [dbo].[Ulasim]  WITH CHECK ADD  CONSTRAINT [FK_Ulasim_UlasimTur] FOREIGN KEY([UlasimTurId])
REFERENCES [dbo].[UlasimTur] ([Id])
GO
ALTER TABLE [dbo].[Ulasim] CHECK CONSTRAINT [FK_Ulasim_UlasimTur]
GO
ALTER TABLE [dbo].[Yorum]  WITH CHECK ADD  CONSTRAINT [FK_Yorum_Icerik] FOREIGN KEY([IcerikId])
REFERENCES [dbo].[Icerik] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Yorum] CHECK CONSTRAINT [FK_Yorum_Icerik]
GO
ALTER TABLE [dbo].[Yorum]  WITH CHECK ADD  CONSTRAINT [FK_Yorum_Kullanici] FOREIGN KEY([KullaniciId])
REFERENCES [dbo].[Kullanici] ([Id])
GO
ALTER TABLE [dbo].[Yorum] CHECK CONSTRAINT [FK_Yorum_Kullanici]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1=Video, 2=Resim, 3=Dosya' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Medya', @level2type=N'COLUMN',@level2name=N'MedyaTipi'
GO
USE [master]
GO
